@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: 'Poppins';
    color: #1D3444;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1280px;
    margin: auto 10%;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    display: flex;
    list-style: none;
}
.nav-item li{
    padding: 0 1rem;
}
.top{
    color: black;
}
.uniq{
    color: #F58A07;
    background-color: #f3e7da;
    padding: 1rem 2rem;
    border-radius: 30px;
}
.uniq:hover{
    color: white;
    background-color: #F58A07;
}
.img-logo{
    letter-spacing: 1rem;
}
.col-2{
    width: calc(100%/2 - 0px);
}
.hero-section{
    background-color: #DCEAF5;
    padding: 5vh 0 0;
}
.main-title{
    
}
.see{
    padding: 1rem 2rem;
    border-radius: 30px;
    color: #1D3444;
}
.see:hover{
    color: white;
    background-color: #F58A07;
}
.hero-img{
    width: 100%;
    vertical-align: bottom;
}
.col-3{
    width: calc(100%/3 - 0px);
}
.gap{
    gap: 30px;
}
.service-section{
    padding: 5vh 0;
}
.service-img{
    border-radius: 30px;
}
.build-section{
    background-color: #DCEAF5;
    padding: 5vh 0;
}
.build-title{
    font-size: 36px;
}
.service-img{
    width: 100%;
}
.content{
    padding: 2rem;
    background-color: white;
    border-radius: 30px;
}
.build-img{
    width: 10%;
}
.energy-detail{
    display: flex;
}
.energy-img{
    width: 100%;
    border-radius: 30px;
    vertical-align: bottom;
}
.blend{
    position: relative;
}
.blend ::after{
    content: '';
    position: absolute;
    inset: 0 75% 0 0;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 30px 0 0 30px;
}
.energy-title{
    font-size: 36px;
}
.energy-number{
    font: 2rem bolder;
    color: #F58A07;
}
.energy-section{
    padding: 5vh 0;
}
.grey{
    color: #063255;
    border: 1px #063255 solid;
    padding: 1rem 2rem;
    border-radius: 30px;
}
.grey:hover{
    background-color: white;
    color: #F58A07;
    border-color: white;
}
.help-nav{
    display: flex;
}
.help-nav li{
    list-style: none;
    padding: 1rem;
}
.help-section{
    background-color: #DCEAF5;
    border-radius: 30px;
    padding: 2rem;
    position: relative;
    margin-bottom: 5vh;
}
.help-img{
    width: 100%;
    vertical-align: bottom;
}
.help-section .ribbon{
   position: absolute;
   top: -10px;
   right: -10px;
   width: 10vw;
}
.startup-section{
    background-image: url(/w2d4workfile/images/experience-image.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    background-size: 50%;
    margin: 0 auto;
    background-color: #F58A07;
}
.startup-detail{
    font: 1.5rem bolder;
    color: white;
    text-align: left;
    padding: 5rem;
}
.job{
    color: #F58A07;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
}
.col-1{
    width: calc(100%/2);
}
.dream-section{
    padding: 5vh 0;
    align-items: center;
}
.ceo{
    display: flex;
    align-items: center;
}
.ceo-img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.tailbar{
    color: #F58A07;
}
.video{
    position: relative;
}
.video-img{
    width: 100%;
}
.video .banner{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.video-banner{
    background-color: white;
    border-radius: 30px;
    padding: 1.5rem;
}
.play{
    color: white;
}
.news-section{
    background-color: #DCEAF5;
    padding: 5vh 0;
}
.news-col{
    background-color: white;
    border-radius: 30px;
}
.news-content{
    padding: 2rem;
}
.news-img{
    width: 100%;
    border-radius: 30px 30px 0 0;
}
footer{
    background-color: #063255;
    color: white;
    padding: 5vh 0;
    position: relative;
}
.nav-footer{
    display: flex;
    justify-content: space-between;
}
footer a{
    color: white;
}
.fa-brands{
    letter-spacing: 1rem;
}
footer ::after{
    content: '';
    position: absolute;
    inset: 60% 97% 0 0;
    background-color: #F58A07;
    border-radius: 0 15px 0 0;
}
.nav-footer ::after{
    content: '';
    position: absolute;
    inset: 10% 0 30% 97%;
    background-color: #F58A07;
    border-radius: 15px 0 0 15px;
}
.arrow{
    color: #F58A07;
}
.arrow ::after{
    content: ' \2192';
}
.email{
    background-color: white;
    color: #5B5B5B;
    padding: 1rem 7rem 1rem 2rem;
    border-radius: 30px;
}
.sub{
    background-color: #F58A07;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
}
.news-title{
    font-size: 36px;
}